<div class="container mx-auto">
  <div class="flex flex-col mt-12 sm:flex-row sm:-mx-4">
    <div class="sm:w-1/2 sm:px-4">
      <div class="sm:px-10 mt-4 sm:mt-0">
        <h2 class="text-2xl sm:text-4xl font-bold mb-2">愛犬を登録</h2>
        <p class="mt-4 text-gray-700">
          愛犬の名前、誕生日、性別、犬種、そして愛犬の写真を登録することができます。
          最大で３匹まで登録できるので、多頭飼いの飼い主様でもご利用いただけます。
        </p>
      </div>
    </div>
    <div class="sm:w-1/2 sm:px-4 mt-4 sm:mt-0">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <%= image_tag('firstview1.jpeg', alt: "愛犬登録", class: "lg:w-5/6 h-auto mx-auto") %>
      </div>
    </div>
  </div>
</div>
