<div class="container mx-auto">
  <div class="flex flex-col mt-12 sm:flex-row sm:-mx-4">
    <div class="sm:w-1/2 sm:px-4">
      <div class="sm:px-10 mt-4 sm:mt-0">
        <h2 class="text-2xl sm:text-4xl font-bold mb-2">日記を書く</h2>
        <p class="mt-4 text-gray-700">
          ユーザーだけでなく、登録している愛犬の日記も書くことができます！
        </p>
        <p class="mt-4 text-gray-700">
          出来事、食事、運動、健康の4つの項目で入力欄が分かれているので、
          どんな1日だったか、何を食べたか、どんな運動をしたか、その日の体調など、
          あなたと愛犬の日々を写真付きで記録していきましょう！
        </p>
      </div>
      <div class="p-6">
        <%= image_tag('firstview3-2.png', alt: "日記登録", class: "lg:w-5/6 h-auto mx-auto") %>
      </div>
    </div>
    <div class="sm:w-1/2 sm:px-4 mt-4 sm:mt-0">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <%= image_tag('firstview3-1.jpeg', alt: "愛犬登録", class: "lg:w-5/6 h-auto mx-auto") %>
      </div>
    </div>
  </div>
</div>
