<div class="container mx-auto">
  <div class="flex flex-col mt-12 sm:flex-row sm:-mx-4">
    <div class="sm:w-1/2 sm:px-4 sm:order-2">
      <div class="sm:px-10 mt-4 sm:mt-0">
        <h2 class="text-2xl sm:text-4xl font-bold mb-2">体重を記録</h2>
        <p class="mt-4 text-gray-700">
          愛犬と一緒に体重を記録しましょう！
        </p>
        <p class="mt-4 text-gray-700">
          まず初めに愛犬を抱っこして体重を測ります。次にあなただけで体重を測り、その差を計算することで愛犬の体重が分かります。
          愛犬と触れ合いながら日々体重を測ることで、お互いに健康への意識が高まります。
        </p>
        <p class="mt-4 text-red-700">
          *大型犬の体重を測る場合は、ペット用の体重計をご使用ください。
        </p>
      </div>
    </div>
    <div class="sm:w-1/2 sm:px-4 mt-4 sm:mt-0 sm:order-1">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <%= image_tag('firstview2.jpeg', alt: "体重記録", class: "lg:w-5/6 h-auto mx-auto") %>
      </div>
    </div>
  </div>
</div>
