<div class="mt-6 py-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">マイページ</h1>
  </div>

  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h2>登録された愛犬</h2>
    <% @dogs.each do |dog| %>
      <div>
        <h3><%= dog.name %></h3>
        <p>生年月日: <%= dog.birthday %></p>
        <p>性別: <%= Dog.human_attribute_name("sex.#{dog.sex}") %></p>
        <p>品種: <%= dog.breed %></p>
      </div>
    <% end %>
  </div>
</div>
