<div class="w-full mt-4 p-4 bg-gray-100">
  <%= line_chart dog_weight, 
    height: "250px", 
    library: { 
      title: "体重一覧", 
      scales: { 
        y: { 
          min: [0, (latest_weight.weight.round - 0.5)].max,
          max: (latest_weight.weight.round + 0.5),
          ticks: {
            stepSize: 0.25,
            maxTicksLimit: 20
          }
        },
        x: { 
          type: 'time',
          time: {
            unit: 'day',
            displayFormats: {
              day: 'M/d'
            },
            tooltipFormat: 'M/d'
          },
          ticks: {
            source: 'data'
          }
        }
      } 
    }
  %>
</div>